# --- APP CONFIG ---
APP_PORT=8080
SPRING_PROFILES_ACTIVE=local

# --- POSTGRES ---
DB_URL=jdbc:postgresql://localhost:5432/payment_db
DB_USER=admin
DB_PASSWORD=admin_pass

# --- REDIS (Opcional/Estruturado) ---
REDIS_HOST=localhost
REDIS_PORT=6379

# --- RABBITMQ (Opcional/Estruturado) ---
RABBIT_HOST=localhost
RABBIT_PORT=5672
RABBIT_USER=guest
RABBIT_PASS=guest

# --- MONGO (Opcional/Estruturado) ---
MONGO_URI=mongodb://localhost:27017/payment_logs
